* {
    margin: 0;
    padding: 0;
    /*debug *
    border: solid 1px red;
     * */
}

/*general rules*/

body {
    background-image: url(./assets/Untitled.png);
}

div {
    padding-left:10%;
    padding-right:10%;
}

div.content {
    /*margin: 20px 20px 30px 0;*/
    line-height: 1.5

}

h1 {
    font-family: Merriweather, serif;
    color: black;

}

h2 {
    text-align: center;

}

p {
    font-family: Consolas, Courier, monospace;
    font-size: 14px;
}

.separator {
    text-align:center;
}

/* nav strip section */
#nav-strip{
    background-color: #333;
    display:flex;
    height: 40px;
}

#nav-strip *{
    padding:0;
    color:#ff0099;
    margin: auto 0 auto; 
}

#nav-strip #logo{
    margin-right: auto;
}

#nav-strip #nav-menu{
    text-align: right;
    text-transform:uppercase;
    /*padding:20px 0 20px;*/
    /*line-height:40px*/
}

#nav-strip #nav-menu a{
    padding:10px;
}


/* personal section */
#personal h1{
    margin-top: 100px;
    margin-bottom: 10px;
}

#personal h2{
    color:#ff0099;
    font-size:20px;
    text-align: left;
    margin: 0 0 10px 0;
}

#personal p{
    margin-bottom:10px;
}


/*definitions section*/
dl dt {
    font-family: Merriweather, serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom:10px;
}

dl dd {
        font-family: Consolas, Courier, monospace;
        font-size: 12px;
        margin-bottom:15px;
}





